<div class="py-5">
    <div class="container">
        <div class="row g-4 justify-content-center">
            {{#foreach posts visibility="all"}}
                {{> post-card}}
            {{/foreach}}
        </div>
        {{#if posts.length}}
            {{pagination}}
        {{/if}}
    </div>
</div>