<ul class="navbar-nav">
    {{#foreach navigation}}
    <li class="nav-item">
        <a class="nav-link text-capitalize {{#if current}} active{{/if}}" aria-current="page" href="{{url}}">{{label}}</a>
    </li>
    {{/foreach}}
</ul>